$white: white;
$font: 'Roboto Condensed', sans-serif;
$blue: rgb(61, 86, 116);
$lighterblue: rgb(80, 207, 211);
$backgroundblue:  #0f1c30;
$transparentblue:  #0f1c30d5;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
#btnLogin{
    margin: 1% 0 0 50%;
    background: linear-gradient(15deg, #324953 50%, $backgroundblue 50%);

    }
  
h1{
    margin-top: 20%;
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
}
main{
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: $white;
    // background-image: url('../../img/main.jpg') no-repeat center center fixed;
    // background-color: linear-gradient(25.5deg, #324953 50%, $backgroundblue 50%);
    background: url('../../img/main.svg'), linear-gradient(25.5deg, #324953 50%, $backgroundblue 50%);
    div{
        padding-top: 10%;
        .firstPageLabel{
            font-family: $font;
            font-size: 1em;
            padding-bottom: 3%;
        }
    }
   
}


.arrowDown {
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    transform: rotate(45deg);
}


#btnLogin, h1, h2, .h, h4, #textdiv, #whitetext{
    font-family: $font;
}

.page {
    height: fit-content;
    background-size: cover;
    padding: 0 20vw 10vh 20vw;
    h2{
        padding-top: 5vh;
    }
}

.page.whitetext{
    color: $white;
}

.btext {
    color: $lighterblue;
}

.solid{
    border-top: 3px solid $lighterblue;
    position: absolute;
    left: 0;
}

#secondPage, #fourthPage{
    h2{
        color: $blue;
        font-size: 2em;
    }
    p{
        margin-top: 5vh;
        color: $blue;
    }
    .h{
        font-weight: bold;
        font-size: 30px;
    }
    
}
#thirdPage, #fifthPage{
    background: $backgroundblue;
    h2{
        color: $white;
        font-size: 2em;
    }
    div{
        margin-top: 5vh;
    }
    #whitetext{
        color: $white;
    }
    .btext{
        color: $lighterblue;
    }
}
#secondPage{
    .solid{
        width: 31%;
    }
    div{
        width: 55%;
        display: inline-block;
        padding-top: 10%;
        .text{
            font-family: 'Roboto', sans-serif;
        }
    }
}
  

#thirdPage{
    .solid{
        width: 33vw;
    }
    background: url('../../img/page3.svg'), $backgroundblue;
    background-size: cover;
    div{
        div{
            display: inline-block;
            width: 49%;
            padding-right: 5%;
            padding-top: 2%;
            // img{
            //     padding-bottom: 5%;
            // }
            .btext{
                font-style: italic;
                padding-top: 3vh;
            }
            .whitetext{
                font-weight: lighter;
                padding-top: 6vh;
            }
            button{
                margin: 10px 0 20px 0;
                background-color: transparent;
                border: 2px solid $lighterblue;
            }
        }
        #textdiv{
            display: block;
            width: max-content;
            padding-left: 20%;
            padding-top: 10%;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }
    }
}

#fourthPage{
    h2{
        display: block;
    }
    .solid{
        width: 35%;
    }
    div{
        .h{
            font-size: 2vw;
        }
        div{
            //margin-top: 45px;
            column-count: 2;
            img{
                display: inline-block;
                border-radius: 50%;
                height: 120px;
                width: 120px;
            }
            .btext{
                color: $lighterblue;
                font-weight: bold;
                font-size: large;
            }
            width: 49.5%;
            display: inline-block;
        }
        #textheader{
            column-count: 1;
            padding-left: 10px;
        }
        ul{
            li{
                color: $blue;
            }
        }
        
    }
}
#fifthPage{
    .solid{
        width: 37%;
    }
    background: url('../../img/page5.svg'), $backgroundblue;
    div{
        p{
        padding-top: 5%;
        }
        .whitetext{
            display: block;
            width: 40vw;
            text-align: left;
            font-size: 2em;
            font-weight: bold;
        }
        .btext{
            font-style: italic;
        }
        img{
            padding-top: 5px;
            #last{
                color: $white;
            }
        }
    }
}

button{
    color: $white;
    height: 5vh;
    width: 8vw;
}
   

footer{
    text-align: center;
    background: $lighterblue;
    color: $white;
    height: 25px;
}




@media screen and (max-width: 1000px){

    main{
        background-image: none;
        background: linear-gradient(25.5deg, #324953 50%, $backgroundblue 50%);
        img{
            width: 35vw;
        }
        button{
            width: 20vw;
            background: #324953;
        }
    }

    #thirdPage{
        div{
            display: block;
            min-width: 35vw;
            text-align: center;
            #textdiv{
                max-width: 50vw;
            }
            button{
                min-width: max-content;
            }
        }
        
        background-image: none;
        background: $backgroundblue;
    }

    #fourthPage{
        
        div{
            min-width: fit-content;
            //text-align: center;
            .h{
                font-size: 5vw;
                text-align: left;
            }
            div{
                padding-top: 25px;
                column-count: 1;
            }
        }
    }



}