$white: white;
$font: 'Roboto Condensed', sans-serif;
$blue: rgb(61, 86, 116);
$lighterblue: rgb(80, 207, 211);
$backgroundblue:  #0f1c30;
$transparentblue:  #0f1c30d5;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  
h1{
    margin-top: 20%;
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
}
main{
    nav{
        #btnLogin{
            margin: 1% 0 0 50%;
            background: linear-gradient(15deg, #324953 50%, $backgroundblue 50%);
        
            }
    }
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: $white;
    // background-image: url('../../img/main.jpg') no-repeat center center fixed;
    // background-color: linear-gradient(25.5deg, #324953 50%, $backgroundblue 50%);
    background: url('../../img/main.svg'), linear-gradient(25.5deg, #324953 50%, $backgroundblue 50%);
    div{
        padding-top: 10%;
        .firstPageLabel{
            font-family: $font;
            font-size: 1em;
            padding-bottom: 3%;
        }
    }
    img{
        width: 35vw;
    }
   
}


.arrowDown {
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    transform: rotate(45deg);
    &:hover{
        padding: 10px;
    }
}


#btnLogin, h1, h2, .h, h4, #textdiv, #whitetext{
    font-family: $font;
}

.page {
    height: fit-content;
    background-size: cover;
    padding: 0 15vw 10vh 15vw;
    h2{
        padding-top: 5vh;
    }
}

.page.whitetext{
    color: $white;
}

.btext {
    color: $lighterblue;
}

.text, .whitetext{
    line-height: 2em;
}

.solid{
    border-top: 3px solid $lighterblue;
    position: absolute;
    left: 0;
}

#secondPage, #fourthPage{
    h2{
        color: $blue;
        font-size: 2em;
    }
    p{
        margin-top: 5vh;
        color: $blue;
    }
    .h{
        font-weight: bold;
        font-size: 30px;
    }
    
}
#thirdPage, #fifthPage{
    background: $backgroundblue;
    h2{
        color: $white;
        font-size: 2em;
    }
    div{
        margin-top: 5vh;
    }
    #whitetext{
        color: $white;
    }
    .btext{
        color: $lighterblue;
    }
}
#secondPage{
    .solid{
        width: 31%;
    }
    #text{
        width: 55%;
        max-width: 55%;
        display: inline-block;
        padding: 8% 0;
        .text{
            font-family: 'Roboto', sans-serif;
        }
    }
    #imgs{
        display: inline;
    }
    img{
        width: 35%;
        float: right;
    }
}
  

#thirdPage{
    .solid{
        width: 33vw;
    }
    background: url('../../img/page3.svg'), $backgroundblue;
    background-size: cover;
    div{
        div{
            display: inline-block;
            width: 49%;
            padding-right: 5%;
            padding-top: 2%;
            // img{
            //     padding-bottom: 5%;
            // }
            .btext{
                font-style: italic;
                padding-top: 3vh;
            }
            .whitetext{
                //font-weight: lighter;
                padding-top: 6vh;
                //font-stretch: extra-expanded;
            }
            button{
                margin: 10px 0 20px 0;
                background-color: transparent;
                border: 2px solid $lighterblue;
            }
        }
        #textdiv{
            display: block;
            width: max-content;
            padding: 10% 20% 5% 20%;
            //padding-right: ;
            // padding-top: 10%;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }
    }
}

#fourthPage{
    h2{
        display: block;
    }
    .solid{
        width: 35%;
    }
    div{
        .h{
            font-size: 2vw;
            display: block;
            max-width: 50%;
        }
        
        div{
            //margin-top: 45px;
            column-count: 2;
            img{
                display: inline-block;
                border-radius: 50%;
                height: 130px;
                width: 130px;
            }
            .btext{
                color: $lighterblue;
                font-weight: bold;
                font-size: large;
                padding-top: 1em;
            }
            width: 49.5%;
            display: inline-block;
        }
        #textheader{
            column-count: 1;
            padding-left: 10px;
        }
        ul{
            li{
                color: $blue;
                line-height: 1.5em;
            }
        }
        
    }
}
#fifthPage{
    .solid{
        width: 37%;
    }
    background: url('../../img/page5.svg'), $backgroundblue;
    div{
        p{
        padding-top: 5%;
        }
        .whitetext{
            display: block;
            width: 40vw;
            text-align: left;
            font-size: 2em;
            font-weight: bold;
            line-height: 1em;

        }
        .btext{
            font-style: italic;
        }
        img{
            padding-top: 5px;
            #last{
                color: $white   ;
            }
        }
    }
}

button{
    color: $white;
    height: 5vh;
    width: 8vw;
    &:hover{
        color: $lighterblue;
    }
}
   

footer{
    text-align: center;
    background: $lighterblue;
    color: $white;
    height: 25px;
}




@media screen and (max-width: 1000px){


    main{
        height: max-content;
        background-image: none;
        background: linear-gradient(25.5deg, #324953 50%, $backgroundblue 50%);
        img{
            width: 35vw;
        }
        nav{
            #btnLogin{
                width: 20vw;
                background: transparent;
                //border: 1px solid #324953;
            }
        }
    }


    hr{
        display: none;
    }
    h2{
        font-size: 4vw;
        text-align: center;
    }

    .page{
        padding: 0 8vw 7vh 8vw;

    }
    #secondPage{
        text-align: center;
        padding: 0 5vw 7vh 5vw;
        div{
            #text{
                .h, .text{
                    font-size: 3vw;
                }
                .text{
                    padding-top: 2em;
                    text-align: justify;
                }
            }
            img{
                display: none;
            }
        }
    }
    #thirdPage{
        div{
            div, #textdiv{
                min-width: fit-content;
                display: block;
                text-align: center;
                padding-left: 10vw;
                padding-right: 10vw;
            }
            div{
                button{
                    min-width: max-content;
                }
            }
            #textdiv{
                max-width: 50vw;
            }
        }
        background-image: none;
        background: $backgroundblue;
    }

    #fourthPage{
        
        div{
            min-width: fit-content;
            div, .h{
                padding-left: 10vw;
                padding-right: 10vw;
            }
            .h{
                font-size: 4vw;
                text-align: center;
                min-width: fit-content;
            }
            div{
                padding-left: 20vw;
                padding-right: 20vw;
                padding-top: 25px;
                column-count: 1;
            }
        }
    }

    #fifthPage{
        .whitetext{
            //width: 90vw;
            min-width: fit-content;
        }
    }


}